.content
  - @posts.each do |post|
    .row
      %h2
        = link_to post.title, post
      %p
        %em= post.category_title
      %p= truncate(raw(post.body), length: 1000, omission: '...')
      %p
        = link_to 'View', post_path(post)
        - if user_signed_in? && current_user.admin?
          = link_to 'Edit', edit_post_path(post)
          = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

  .row
    = will_paginate @posts

    - if user_signed_in? && current_user.admin?
      %p
        = link_to 'New Post', new_post_path