.row
  - @posts.each do |post|
    .col-lg-4
      %h2
        = link_to post.title, post
      %p= post.body
      %p
        - if user_signed_in? && current_user.admin?
          = link_to 'Edit', edit_post_path(post)
          = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

.row.last
  = will_paginate @posts

  - if user_signed_in? && current_user.admin?
    %p
      = link_to 'New Post', new_post_path