.content
  .row
    - flash.each do |name, msg|
      = content_tag :div, msg, class: name
      
    %h2= @post.title
    %p
      = format_date(@post.created_at)
      \| 
      %em
        = @post.category_title
    %p= raw @post.body

    %p
      %a{"data-pin-do" => "buttonBookmark", :href => "//pinterest.com/pin/create/button/"}
        %img{:src => "//assets.pinterest.com/images/pidgets/pin_it_button.png"}

    - if user_signed_in? && current_user.admin?
      = link_to 'Edit', edit_post_path(@post)
      \|
    = link_to 'Back', posts_path

    - if @related_posts.any?
      %div.related_posts
        %h3 You Might Also Like

        %ul
          - @related_posts.each do |post|
            %li
              %h4= post.title
              %p= truncate_html(raw(post.body), length: 200, omission: '...', word_boundary: false)
              %p=link_to 'Read More', post_path(post)
   