!!!
%html
  %head
    %title Happymediumv2
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .masthead
        .inner
          %h1 Happy Medium
          %ul.nav
            %li.active
              = link_to 'Home', posts_path
            %li
              = link_to 'About', '/posts/68'
            %li
              = link_to 'Resources', '/posts/69'
            - if user_signed_in?
              %li 
                = link_to 'Sign Out', destroy_user_session_path, method: :delete

      = yield

      .footer
        %p 
          &copy; 
          = year(Date.today) 
          &ndash; All Rights Reserved.

        %ul
          %li
            =link_to 'Pinterest', 'http://pinterest.com/aimeesimone', id: 'pinterest'
          %li
            =link_to 'Instagram', 'http://instagram.com/aimeesimone', id: 'instagram'
          %li
            =link_to 'RSS', posts_url(:rss), id: 'rss'
            

    %script{:src => "//assets.pinterest.com/js/pinit.js", :type => "text/javascript"}